In [1]:
# Import the Pandas library
from pathlib import Path
import pandas as pd

import os
import csv

In [2]:
# Create a reference to the CSV file
csv_path = os.path.join("Resources/budget_data.csv")

In [3]:
# Read the CSV file into a DataFrame
df = pd.read_csv(csv_path)
df.head()

     Date  Profit/Losses
0  Jan-10        1088983
1  Feb-10        -354534
2  Mar-10         276622
3  Apr-10        -728133
4  May-10         852993

In [4]:
# Sum number of months
num_months = len(df['Date'])
print("Total Months: ", num_months)

Total Months:  86

In [5]:
# Sum total Profit/Loss
# Calculate the total profit
total_profit = df['Profit/Losses'].sum()

# Print the total profit
print("Total Profit:", total_profit)

Total Profit: 22564198

In [6]:
# Calculate the number of months
total_months = df.shape[0]

# Calculate the change between the first and last figures
first_figure = df['Profit/Losses'].iloc[0]
last_figure = df['Profit/Losses'].iloc[-1]
change = last_figure - first_figure

# Calculate the average change
average_change = change / (total_months - 1)

# Print the total profit, change, and average change

print("Average Change:", average_change)

Average Change: -8311.105882352942

In [7]:
# Skip the header row
df = df.iloc[1:]

# Initialize variables
max_increase = 0
max_increase_month = ""

# Initialize the previous month's profit/loss
previous_profit_loss = 0

# Iterate through the dataset
for index, row in df.iterrows():
    # Get the current month and profit/loss
    month = row['Date']
    profit_loss = row['Profit/Losses']

    # Calculate the difference between the current month's profit/loss and the previous month's profit/loss
    increase = profit_loss - previous_profit_loss

    # Check if the current increase is greater than the maximum increase
    if increase > max_increase:
        max_increase = increase
        max_increase_month = month

    # Update the previous month's profit/loss
    previous_profit_loss = profit_loss

# Print the month with the greatest increase in profits
print(f"Greatest Increase in Profits {max_increase_month} ${max_increase}")

Greatest Increase in Profits Aug-16 $1862002

In [8]:
# Skip the header row
df = df.iloc[1:]

# Initialize variables
max_decrease = 0
max_decrease_month = ""

# Initialize the previous month's profit/loss
previous_profit_loss = 0

# Iterate through the dataset
for index, row in df.iterrows():
    # Get the current month and profit/loss
    month = row['Date']
    profit_loss = row['Profit/Losses']

    # Calculate the difference between the current month's profit/loss and the previous month's profit/loss
    decrease = profit_loss - previous_profit_loss

    # Check if the current increase is greater than the maximum increase
    if decrease < max_decrease:
        max_decrease = decrease
        max_decrease_month = month

    # Update the previous month's profit/loss
    previous_profit_loss = profit_loss

# Print the month with the greatest increase in profits
print(f"Greatest Decrease in Profits {max_decrease_month} ${max_decrease}")

Greatest Decrease in Profits Feb-14 $-1825558